################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorBasicTemplate/.vs/BlazorBasicTemplate/v16
/BlazorBasicTemplate/BlazorBasicTemplate/obj
/BlazorBasicTemplate/BlazorBasicTemplate/bin/Debug/netcoreapp3.0
/BlazorBasicTemplate/.vs/BlazorBasicTemplate/config
