:root {
    --menu-Width: 35px;
    --menu-Height: 70px;
    --header-Height: 70px;
}

.menuButton {
    display: block;
    border: none;
    cursor: pointer;
    background-color: lightgrey;
    width: var(--menu-Height);
    height: var(--menu-Width);
    transform-origin: right top 0;
    transform: rotate(-90deg) translate(0, calc(-1 * var(--menu-Height)));
}

.headerMainDiv {
    display: grid;
    grid-template-areas: "menuButtonDiv logoDiv titleDiv userDiv";
    grid-template-columns: var(--menu-Width) auto 1fr auto;
    grid-template-rows: var(--header-Height);
}

.menuButtonDiv {
    grid-area: menuButtonDiv;
}

.logoDiv {
    grid-area: logoDiv;
}

.titleDiv {
    grid-area: titleDiv;
    display: grid;
    text-align: center;
    background-color: darkgrey;
    align-items: center;
    grid-template-rows: var(--header-Height);
}

.titleText {
    display: inline-block;
    vertical-align: middle;
}

.userDiv {
    grid-area: userDiv;
}