.mainSite {
    display: grid;
    overflow: hidden;
    grid-template-areas: "mainNav mainHeader"
                         "mainNav mainContent"
                        "mainNav mainFooter";
    background-color: white;
    overflow: hidden;
    grid-template-rows: 70px calc(100vh - 105px) 35px;
    grid-template-columns: 200px 1fr;
    position: relative;
}

.mainSite::-webkit-overflow-scrolling {
    display: none;
}

.mainSiteMenuHidden {
    width: calc(100vw + 190px);
    left: -190px;
    transition: left .5s, width .5s;
}

.mainSiteMenuVisible {
    width: 100vw;
    left: 0;
    transition: left .5s, width .5s;
}

.mainHeader {
    grid-area: mainHeader;
    background-color: white;
}

.mainNav {
    grid-area: mainNav;
    background-image: linear-gradient(to top, rgba(255,0,0,0), black);
}

.mainContent {
    grid-area: mainContent;
    overflow: auto;
    background-color: white;
    /*margin: 20px;*/
    padding: 40px;
}

.mainFooter {
    grid-area: mainFooter;
    background-color: darkgrey;
}