.mainSite {
    display: grid;
    grid-template-areas: "mainNav mainHeader"
                         "mainNav mainContent"
                        "mainNav mainFooter";
    /*box-sizing: border-box;*/
    /*transition: left 1s;*/
    grid-template-columns: auto 4fr;
    grid-template-rows: 70px calc(100vh - 105px) 35px;
    /*transition: width 2s;*/
    background-color: lightgrey;
}

.mainSiteMenuHidden {
    /*grid-template-columns: 1em auto;
    grid-template-rows: auto 3fr;*/
}

.mainSiteMenuVisible {
    /*grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 3fr;*/
}

.mainNavHidden {
    transform: translate(-100px, 0);
    width: 0;
    opacity: 0;
    transition: transform .6s, width .6s;
    /*transition: width .5s;
    visibility: hidden;
    width: 0;
    opacity: 0;*/
}

.mainNavVisible {
    transform: translate(0, 0);
    width: 200px;
    transition: transform .6s, width .6s;
    /*transition: opacity .1s .4s, width .5s;
    opacity: 1;

    width: 200px;
    visibility: visible;*/
}

.mainHeader {
    grid-area: mainHeader;
    background-color: white;
}

.mainNav {
    grid-area: mainNav;
}

.mainContent {
    grid-area: mainContent;
    overflow: auto;
    background-color: white;
}

.mainFooter {
    grid-area: mainFooter;
    background-color: burlywood;
}