body {
    background-color: lightgrey;
}

.mainPageLinkContainer {
    display: grid;
    width: auto;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
}

.mainPageLink {
    text-decoration: none;
    color: white;
    font-size: 28px;
    text-align: center;
}

.mainPageLinkSpanSelected {
    background-color: #AA1F24;
}

.mainPageLink:hover {
    text-decoration: none;
    color: white;
    font-size: 28px;  
    text-align: center;
}

.mainPageLinkSpan {
    display: block;
    border-radius: 5px;
    width: auto;
}

.mainPageLink:hover .mainPageLinkSpan {
    background-color: lightcoral;
    font-size: 28px;
}



