@page "/header"
@using Microsoft.AspNetCore.Components

<div class="headerMainDiv">
    <div class="menuButtonDiv">
        <button class="menuButton" onclick=NavSelected>menu</button>
    </div>
    <div class="logoDiv">
        <img class="mainLogoImage" src="/Resources/Images/ExampleLogo.jpg" alt="logo here" />
    </div>
    <div class="titleDiv">
        <h1 class="titleText">@SelectedTitle</h1>
    </div>
    <div class="userDiv">
        <label>William</label>
    </div>
</div>

@*<a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>*@

@functions
{
    [Parameter]
    public string SelectedTitle { get; set; }

    [Parameter]
    public EventCallback OnNavSelected { get; set; }

    void NavSelected()
    {
        OnNavSelected.InvokeAsync(true);
    }

}
