@inherits LayoutComponentBase
@using System.Data
@using Microsoft.AspNetCore.Components

<div class=@MainSiteCssClasses>
    <div class=@NavCssClasses>
        <NavMenu @bind-Visible="IsNavVisible" />
    </div>

    <div class="mainHeader">
        <Header OnNavSelected="@NavClicked" ></Header>
    </div>

    <div class="mainContent">
        @Body
    </div>

    <div class="mainFooter">
        <Footer/>
    </div>
</div>

@functions {

    const string NavVisibleClassesForMain = "mainSite mainSiteMenuVisible";
    const string NavHiddenClassesForMain = "mainSite mainSiteMenuHidden";
    const string NavVisibleClassesForNav = "mainNav mainNavVisible";
    const string NavHiddenClassesForNav = "mainNav mainNavHidden";

    [Parameter]
    public string MainSiteCssClasses { get; set; } = NavVisibleClassesForMain;

    [Parameter]
    public string NavCssClasses { get; set; } = NavVisibleClassesForNav;

    private bool _isNavVisible = true;
    [Parameter]
    public bool IsNavVisible
    {
        get => _isNavVisible;
        set
        {
            _isNavVisible = value;
            MainSiteCssClasses = _isNavVisible ? NavVisibleClassesForMain : NavHiddenClassesForMain;
            NavCssClasses = _isNavVisible ? NavVisibleClassesForNav : NavHiddenClassesForNav;
            this.StateHasChanged();
        }
    }

    void NavClicked()
    {
        IsNavVisible = !IsNavVisible;
    }

}
