@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@inject IUriHelper UriHelper

<div>
    <ul>
        <li>
            <button onclick="@(()=>NavClicked("Home", "/"))">Home</button>
        </li>
        <li>
            <button onclick="@(()=>NavClicked("Counter", "/counter"))">Counter</button>
        </li>
        <li>
            <button onclick="@(()=>NavClicked("Weather", "/fetchdata"))">Weather</button>
        </li>
    </ul>
</div>

@functions {

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public string SelectedTitle { get; set; }

    [Parameter]
    public EventCallback<string> SelectedTitleChanged { get; set; }


    void NavSelected()
    {
        VisibleChanged.InvokeAsync(!Visible);
        this.StateHasChanged();
    }

    void NavClicked(string title, string relativeUrl)
    {
        UriHelper.NavigateTo(relativeUrl);
        SelectedTitleChanged.InvokeAsync(title);
    }

}
