@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@inject IUriHelper UriHelper

    <div>
        <div class="mainPageLinkContainer">
            <a href="#" class="mainPageLink" onclick="@(()=>NavClicked("Home", "/"))">
                <span class="oi oi-plus mainPageLinkSpan">Home</span>
            </a>
        </div>
        <div class="mainPageLinkContainer">
            <a href="#" class="mainPageLink" onclick="@(()=>NavClicked("Counter", "/counter"))">
                <span class="oi oi-plus mainPageLinkSpan">Counter</span>
            </a>
        </div>
        <div class="mainPageLinkContainer">
            <a href="#" class="mainPageLink" onclick="@(()=>NavClicked("Weather forecast", "/fetchdata"))">
                <span class="oi oi-plus mainPageLinkSpan">Weather</span>
            </a>
        </div>
    </div>

@functions {

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter]
    public string SelectedTitle { get; set; } = "Home";

    [Parameter]
    public EventCallback<string> SelectedTitleChanged { get; set; }


    void NavSelected()
    {
        VisibleChanged.InvokeAsync(!Visible);
        this.StateHasChanged();
    }

    void NavClicked(string title, string relativeUrl)
    {
        UriHelper.NavigateTo(relativeUrl);
        SelectedTitleChanged.InvokeAsync(title);
    }

}
